<!-- <p>calculator works!</p>
<div style="background-color:rgb(192, 217, 255);width: 40%;position: absolute;left: 30%;right: 30%;height: 400px;">
  <div *ngIf="value2==''&& operator='' " >
    <input type="text" value={{value1}} (input)="setvalue1($event)" >
    </div>
    <div *ngIf="value1!=''" >
    <input type="text" value={{value2}} (input)="setvalue2($event)">
    
    {{value1}}
    {{value2}}
    </div>
    
    <button (click)="add()">+</button><br>
    <input type="text"value={{value3}}>
    
  <button  *ngFor= "let i of ['1','2','3','4'] ">{{i}}</button>
   <button  *ngFor= "let i of ['5','6','7','8']">{{i}}</button>
   <button  *ngFor= "let i of ['9','0']">{{i}}</button>
   <button  *ngFor= "let i of ['+','-','*','/']"(click)="setoperator">{{o}}</button>
    {{operator}}
</div> -->
<button class="btn btn-danger">c</button>